* {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  background-color: black;
  /* display: flex;
  justify-content: center; */
}

nav {
  margin-top: -30px;
  /* margin-right: 100px; */
  color: white;
  opacity: 0.0;
  /* background-color: green; */
  margin-bottom: 20px;
}


p {
  font-size: 1.3em;
}


.mainLogo {
  /* background-color: pink; */
}


#mainLogo {
  position: flex;
  max-width: 50%;
  height: auto;
  margin-left: -180px;
  margin-top: 55px;
  opacity: 0.0;
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 400px;
  opacity: 0.0;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px -5px 300px black;
  margin-top: 10px;
}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 768px) {
  #mainLogo {
    max-width: 50%;
    height: auto;
    margin-top: 20px;
    margin-left: 500px;
    opacity: 0.0;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-bottom: -30px;
    opacity: 0.0;
    /* font-size: .9em; */

  }
}

@media only screen and (max-width: 480px) {}

  /*below are for design only, FIXME remove*/
#ratio, #ratioRotated {
  display: none;
  opacity: .8;
  position: fixed;
}

#ratio {
  width: 100%;
  height: auto;
}

#ratioRotated {
  height: 100%;
  width: auto;
}

#P, #LS {
  font-size: inherit;
}
/*-----------------------------------------*/
